.appdownload{
    margin: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.appdownload img{
    width: 200px;
    margin: 10px;
}
@media (max-width: 768px) {
    .appdownload img{
        width: 100px;
    }
    .appdownload{
        margin: 20px 10px;
        gap: 10px;
        text-align: center;
    }
    .download-options img{
        display: flex;
        justify-content: center;
        gap: 10px;
    }
}
